Repository itdojp/practical-auth-book: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-config, check-jekyll-conflicts, detect-placeholders, validate-navigation

validate-config:
  name: Validate configuration files
  entry: scripts/validate-config.sh
  language: script
  pass_filenames: false

check-jekyll-conflicts:
  name: Check Jekyll Liquid conflicts
  entry: node scripts/jekyll-conflict-detector.js
  language: system
  args:
  - --check

detect-placeholders:
  name: Detect placeholder values
  entry: scripts/detect-placeholders.sh
  language: script
  pass_filenames: false

validate-navigation:
  name: Validate navigation structure
  entry: scripts/validate-navigation.sh
  language: script
  pass_filenames: false

docs: CLAUDE_TROUBLESHOOTING のラベル表記を整形
  CLAUDE_TROUBLESHOOTING.md
Due: check-jekyll-conflicts

docs: FEEDBACK-COLLECTIONのラベル表記を統一
  FEEDBACK-COLLECTION.md
Due: check-jekyll-conflicts

fix(stage2): 導入/第1-3章にH1を追加 (#65)
  docs/chapters/chapter-01-overview/index.md
  docs/chapters/chapter-02-authentication/index.md
  docs/chapters/chapter-03-authorization/index.md
  docs/introduction/index.md
Due: none

fix(stage2): 第4-6章にH1を追加 (#66)
  docs/chapters/chapter-04-session/index.md
  docs/chapters/chapter-05-token-auth/index.md
  docs/chapters/chapter-06-oauth2/index.md
Due: none

fix(stage2): 第7-9章にH1を追加 (#67)
  docs/chapters/chapter-07-oidc-saml/index.md
  docs/chapters/chapter-08-auth-system-design/index.md
  docs/chapters/chapter-09-microservices-auth/index.md
Due: none

docs: CONTRIBUTINGの文末表記を統一
  CONTRIBUTING.md
Due: check-jekyll-conflicts

fix: remove stray EOF from book-config.json (#69)
  book-config.json
Due: validate-config, detect-placeholders

chore: remove stray EOF from CLAUDE.md (#71)
  CLAUDE.md
Due: check-jekyll-conflicts

fix: repository_url未設定時の #/issues を回避
  docs/_layouts/default.html
Due: none

fix: GitHubリポジトリリンクの表示を安定化 (#70)
  docs/_layouts/default.html
  docs/index.md
Due: none

fix: repository_url正規化とフィードバックリンクを修正
  docs/index.md
  templates/layouts/book.html
Due: none

Fix GitHubリンク生成のフォールバック (#72)
  templates/layouts/book.html
Due: none

Stage3: 第1章の範囲表記を統一
  docs/chapters/chapter-01-overview.md
  docs/chapters/chapter-01-overview/index.md
Due: none

Stage3: 第1章の範囲表記を統一（src）
  src/chapters/chapter-01-overview.md
Due: check-jekyll-conflicts

Stage3: 範囲表記を統一（全体）
  docs/assets/images/diagrams/introduction/learning-roadmap.svg
  docs/chapters/chapter-02-authentication.md
  docs/chapters/chapter-02-authentication/index.md
  docs/chapters/chapter-13-future.md
  docs/introduction/index.md
  src/chapters/chapter-02-authentication.md
  src/chapters/chapter-13-future.md
  src/introduction/index.md
Due: check-jekyll-conflicts

Stage3: 単位付き範囲表記も統一（追加）
  FEEDBACK-COLLECTION.md
Due: check-jekyll-conflicts

docs: README の導入文末尾を整形
  README.md
Due: check-jekyll-conflicts

docs: READMEを読者入口に差し替え
  README.md
Due: check-jekyll-conflicts

docs: READMEを読者入口に差し替え (#79)
  README.md
Due: check-jekyll-conflicts

docs: CONTRIBUTING.md の文末表記を整形 (#78)
  CONTRIBUTING.md
Due: check-jekyll-conflicts

docs: add structure review round1 (Stage2) (#60)
  docs/project-management/structure-review-round1.md
Due: none

fix(nav): baseurl除去をprefix判定に変更
  docs/_includes/page-navigation.html
Due: none

fix(nav): align prev/next titles with page titles; remove empty navigation.yml
  docs/_includes/page-navigation.html
Due: none

fix(nav): align prev/next titles; remove empty navigation.yml (#51)
  docs/_includes/page-navigation.html
Due: none

docs: 統一方針に沿ったメタ情報の追加 (#59)
  docs/chapters/chapter-01-overview.md
  docs/chapters/chapter-06-oauth2.md
  docs/index.md
Due: none

docs: FEEDBACK-COLLECTIONのラベル表記を統一 (#83)
  FEEDBACK-COLLECTION.md
Due: check-jekyll-conflicts

docs: CLAUDE_TROUBLESHOOTING のラベル表記を整形 (#82)
  CLAUDE_TROUBLESHOOTING.md
Due: check-jekyll-conflicts

docs: QUICK-START の導入文末尾を整形 (#81)
  QUICK-START.md
Due: check-jekyll-conflicts

docs: リポジトリアクセスガイドの文末表記を整形 (#80)
  REPOSITORY-ACCESS-GUIDE.md
Due: check-jekyll-conflicts

fix: polish introduction punctuation (#76)
  docs/introduction/index.md
Due: none

fix: polish appendix E-02 summary punctuation (#77)
  docs/appendices/appendix-e-02.md
  docs/appendices/appendix-e-02/index.md
  src/appendices/appendix-e-02.md
Due: check-jekyll-conflicts

docs: stage3 style tweaks for appendix e-01 (#75)
  docs/appendices/appendix-e-01.md
Due: none

chore: move project-management out of docs
  project-management/structure-review-round1.md
Due: check-jekyll-conflicts

fix: make build script compatible with legacy book-config
  scripts/build-simple.js
Due: none

Move project-management out of docs/ (#86)
  project-management/structure-review-round1.md
  scripts/build-simple.js
Due: check-jekyll-conflicts

ci: add docs forbidden check
  .github/workflows/docs-forbidden-check.yml
Due: none

ci: refine docs forbidden check
  .github/workflows/docs-forbidden-check.yml
Due: none

CI: docs禁止物チェックを追加 (#87)
  .github/workflows/docs-forbidden-check.yml
Due: none

Path conditions:
  validate-config: any of: (_config\.yml|book-config\.json)$
  check-jekyll-conflicts: any of: \.(md|markdown)$, but not: ^docs/
  detect-placeholders: any of: (_config\.yml|book-config\.json)$
  validate-navigation: any of: navigation\.yml$
