Repository itdojp/practical-auth-book: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-config, check-jekyll-conflicts, detect-placeholders, validate-navigation

validate-config:
  name: Validate configuration files
  entry: scripts/validate-config.sh
  language: script
  pass_filenames: false

check-jekyll-conflicts:
  name: Check Jekyll Liquid conflicts
  entry: node scripts/jekyll-conflict-detector.js
  language: system
  args:
  - --check

detect-placeholders:
  name: Detect placeholder values
  entry: scripts/detect-placeholders.sh
  language: script
  pass_filenames: false

validate-navigation:
  name: Validate navigation structure
  entry: scripts/validate-navigation.sh
  language: script
  pass_filenames: false

fix: UX設定と公開link gateを整合させる
  README.md
  book-config.json
  package.json
  scripts/check-links.js
  scripts/check-links.test.js
  scripts/check-metadata-consistency.js
Due: validate-config, check-jekyll-conflicts, detect-placeholders

fix: optional依存のaudit脆弱性を解消する (#151)
  package-lock.json
  package-simple.json
  package.json
  scripts/check-metadata-consistency.js
Due: none

ci: enforce published link validation
  .github/workflows/build.yml
Due: none

fix: fail closed and normalize Liquid links portably
  scripts/check-links.js
  scripts/check-links.test.js
Due: none

fix: validate links emitted by Jekyll templates
  scripts/check-links.js
  scripts/check-links.test.js
Due: none

fix: UX設定と公開link gateを整合させる (#153)
  .github/workflows/build.yml
  README.md
  book-config.json
  package.json
  scripts/check-links.js
  scripts/check-links.test.js
  scripts/check-metadata-consistency.js
Due: validate-config, check-jekyll-conflicts, detect-placeholders

feat: publish complete figure index
  book-config.json
  docs/_data/navigation.yml
  docs/appendices/figure-index/index.md
  docs/chapters/chapter-01-overview/index.md
  docs/index.md
  docs/introduction/index.md
  package.json
  scripts/check-figure-index.js
  scripts/check-figure-index.test.js
  scripts/check-metadata-consistency.js
  src/appendices/figure-index/index.md
  src/chapters/chapter-01-overview.md
  src/introduction/index.md
Due: validate-config, check-jekyll-conflicts, detect-placeholders, validate-navigation

fix: accept generated navigation format
  scripts/check-figure-index.js
Due: none

fix: keep navigation template canonical
  scripts/check-figure-index.js
  scripts/check-figure-index.test.js
  templates/includes/page-navigation.html
Due: none

Deploy preview for PR 155 🛫
  pr-preview/pr-155/_includes/page-navigation.html
Due: none

fix: normalize generated index body comparison
  scripts/check-figure-index.js
  scripts/check-figure-index.test.js
Due: none

feat: 公開SVG7件の図表索引を追加 (#155)
  book-config.json
  docs/_data/navigation.yml
  docs/appendices/figure-index/index.md
  docs/chapters/chapter-01-overview/index.md
  docs/index.md
  docs/introduction/index.md
  package.json
  scripts/check-figure-index.js
  scripts/check-figure-index.test.js
  scripts/check-metadata-consistency.js
  src/appendices/figure-index/index.md
  src/chapters/chapter-01-overview.md
  src/introduction/index.md
  templates/includes/page-navigation.html
Due: validate-config, check-jekyll-conflicts, detect-placeholders, validate-navigation

chore: migrate workflows and previews to Node.js 24
  .github/workflows/book-qa.yml
  .github/workflows/build.yml
  .github/workflows/deploy-preview.yml
  .github/workflows/scheduled-maintenance.yml
  book-template-guide.md
  templates/github-workflows/build-actions.yml
Due: check-jekyll-conflicts

fix: clarify maintenance permissions and version lookup
  .github/workflows/scheduled-maintenance.yml
Due: none

fix: align preview baseurl and template checkout
  .github/workflows/deploy-preview.yml
  book-template-guide.md
  templates/github-workflows/build-actions.yml
Due: check-jekyll-conflicts

Deploy preview for PR 158
  pr-preview/pr-158/_config.yml
Due: validate-config, detect-placeholders

fix: apply preview baseurl before build
  .github/workflows/deploy-preview.yml
Due: none

fix: serialize preview writes and modernize summaries
  .github/workflows/deploy-preview.yml
  .github/workflows/scheduled-maintenance.yml
Due: none

fix: make preview cleanup conflict-safe
  .github/workflows/deploy-preview.yml
Due: none

security: minimize preview checkout credentials
  .github/workflows/deploy-preview.yml
Due: none

fix: retain queued preview operations
  .github/workflows/deploy-preview.yml
Due: none

chore: workflowsとPR previewをNode.js 24対応へ更新 (#158)
  .github/workflows/book-qa.yml
  .github/workflows/build.yml
  .github/workflows/deploy-preview.yml
  .github/workflows/scheduled-maintenance.yml
  book-template-guide.md
  templates/github-workflows/build-actions.yml
Due: check-jekyll-conflicts

chore(ci): bump audited book-formatter pin
  .github/workflows/book-qa.yml
Due: none

chore(ci): bump audited book-formatter pin (#161)
  .github/workflows/book-qa.yml
Due: none

fix: make canonical docs the default build source
  .github/workflows/build.yml
  .github/workflows/validate-build.yml
  README.md
  package.json
Due: check-jekyll-conflicts

fix: serve the generated site for local preview
  package.json
Due: none

ci: install Ruby for canonical Jekyll builds
  .github/workflows/deploy-preview.yml
  .github/workflows/validate-build.yml
Due: none

ci: build previews from canonical docs source
  .github/workflows/deploy-preview.yml
Due: none

fix: make local preview baseurl-safe
  package.json
Due: none

docs: document Jekyll prerequisites
  README.md
Due: check-jekyll-conflicts

Deploy preview for PR 162
  pr-preview/pr-162/feed.xml
  pr-preview/pr-162/sitemap.xml
Due: none

Path conditions:
  validate-config: any of: (_config\.yml|book-config\.json)$
  check-jekyll-conflicts: any of: \.(md|markdown)$, but not: ^docs/
  detect-placeholders: any of: (_config\.yml|book-config\.json)$
  validate-navigation: any of: navigation\.yml$
