Repository itdojp/practical-auth-book: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-config, check-jekyll-conflicts, detect-placeholders, validate-navigation

validate-config:
  name: Validate configuration files
  entry: scripts/validate-config.sh
  language: script
  pass_filenames: false

check-jekyll-conflicts:
  name: Check Jekyll Liquid conflicts
  entry: node scripts/jekyll-conflict-detector.js
  language: system
  args:
  - --check

detect-placeholders:
  name: Detect placeholder values
  entry: scripts/detect-placeholders.sh
  language: script
  pass_filenames: false

validate-navigation:
  name: Validate navigation structure
  entry: scripts/validate-navigation.sh
  language: script
  pass_filenames: false

Update src/chapters/chapter-05-token-auth.md
  src/chapters/chapter-05-token-auth.md
Due: check-jekyll-conflicts

fix: コードレビュー指摘事項の修正
  src/chapters/appendix-environment-setup.md
  src/chapters/chapter-08-auth-system-design.md
  src/chapters/chapter-11-security-threats.md
  src/chapters/chapter-12-performance.md
  src/chapters/chapter-13-future.md
Due: check-jekyll-conflicts

Add comprehensive Mermaid diagrams to practical authentication book
  src/chapters/chapter-01-overview.md
  src/introduction/index.md
Due: check-jekyll-conflicts

Convert authentication/authorization Mermaid diagrams to SVG
  docs/assets/images/diagrams/chapter01/auth-authz-sequence.svg
  docs/assets/images/diagrams/chapter01/auth-fundamental-problems.svg
  docs/assets/images/diagrams/chapter01/authentication-evolution-timeline.svg
  docs/assets/images/diagrams/chapter01/authorization-model-evolution.svg
  docs/assets/images/diagrams/chapter01/technology-selection-framework.svg
  docs/assets/images/diagrams/introduction/book-structure-mindmap.svg
  docs/assets/images/diagrams/introduction/learning-roadmap.svg
Due: none

fix: Replace Mermaid diagrams with SVG references per code review
  src/chapters/chapter-01-overview.md
  src/introduction/index.md
Due: check-jekyll-conflicts

Add unified ITDO favicon
  docs/_layouts/book.html
  docs/assets/images/itdo_logo_48x48_blue.png
Due: none

Unify navigation resources with standardized links
  docs/_includes/sidebar-nav.html
Due: none

Unify navigation resources with standardized links (#12)
  docs/_includes/sidebar-nav.html
Due: none

Add authentication and authorization flow diagrams
  docs/assets/images/diagrams/auth-flows.md
Due: none

Convert Mermaid diagrams to SVG format
  docs/assets/images/diagrams/auth-flows.md
  docs/assets/images/diagrams/jwt-token-lifecycle.svg
  docs/assets/images/diagrams/mfa-flow.svg
  docs/assets/images/diagrams/microservices-auth.svg
  docs/assets/images/diagrams/oauth-flow.svg
  docs/assets/images/diagrams/session-management.svg
Due: none

Add comprehensive authentication system SVG diagrams
  docs/assets/images/diagrams/jwt-token-lifecycle-management.svg
  docs/assets/images/diagrams/microservices-auth-architecture.svg
  docs/assets/images/diagrams/multi-factor-authentication-flow.svg
  docs/assets/images/diagrams/oauth2-authorization-code-flow.svg
  docs/assets/images/diagrams/security-threats-attack-vectors.svg
Due: none

License update: Creative Commons BY-NC-SA 4.0
  .github/ISSUE_TEMPLATE/commercial_license.md
  CONTRIBUTING.md
  LICENSE
  LICENSE.md
Due: check-jekyll-conflicts

ライセンス更新: Creative Commons BY-NC-SA 4.0 対応
  .github/ISSUE_TEMPLATE/commercial_license.md
  CONTRIBUTING.md
  LICENSE
  LICENSE.md
Due: check-jekyll-conflicts

Add license information to docs/index.md for public page display
  docs/index.md
Due: none

fix: 前へ/次へナビゲーションの復旧（list-based fallback追加）\n\n- per-page nav_data が無い場合に introduction/chapters/appendices/afterword から導出
  docs/_includes/page-navigation.html
Due: none

docs: 内部リンク統一とパンくず統一（Phase #33/#27）\n\n- page-navigation にfallback追加（必要時）\n- breadcrumb をv3テンプレートに統一\n- 内部リンク（index.md/.html/.md）を pretty URL + relative_url に統一
  docs/_config.yml
  docs/_includes/breadcrumb.html
  docs/assets/css/syntax-highlighting.css
  docs/assets/js/code-copy-lightweight.js
  docs/assets/js/search.js
  docs/assets/js/theme.js
Due: validate-config, detect-placeholders

fix(nav): page-navigation の最終フォールバック（layout: book + order）を追加
  docs/_includes/page-navigation.html
Due: none

Unify bottom navigation (prev/next)
  docs/_includes/page-navigation.html
Due: none

Unify bottom navigation (prev/next) (#24)
  docs/_includes/page-navigation.html
Due: none

chore(ci): add nav + pages link check workflow
  .github/workflows/nav-link-check.yml
Due: none

chore(ci): add nav + pages link check workflow (#26)
  .github/workflows/nav-link-check.yml
Due: none

fix(nav): regenerate navigation.yml to satisfy nav link check
  docs/_data/navigation.yml
Due: validate-navigation

fix(nav): regenerate navigation.yml to satisfy nav link check (#28)
  docs/_data/navigation.yml
Due: validate-navigation

chore(ci): robust baseurl parse (YAML) + PyYAML install
  .github/workflows/nav-link-check.yml
Due: none

chore(ci): robust baseurl parse (YAML) + PyYAML install (#29)
  .github/workflows/nav-link-check.yml
Due: none

chore: add CODEOWNERS (placeholder @itdojp/maintainers for format/nav/CI files)
  .github/CODEOWNERS
Due: none

chore: add CODEOWNERS (placeholder @itdojp/maintainers for format/nav/CI files) (#30)
  .github/CODEOWNERS
Due: none

fix(nav): align prev/next titles with page titles; remove empty navigation.yml
  docs/_includes/page-navigation.html
Due: none

fix(nav): align prev/next titles with page titles; remove empty navigation.yml (#33)
  docs/_includes/page-navigation.html
Due: none

Add comprehensive authentication system SVG diagrams (#17)
  docs/assets/images/diagrams/jwt-token-lifecycle-management.svg
  docs/assets/images/diagrams/microservices-auth-architecture.svg
  docs/assets/images/diagrams/multi-factor-authentication-flow.svg
  docs/assets/images/diagrams/oauth2-authorization-code-flow.svg
  docs/assets/images/diagrams/security-threats-attack-vectors.svg
Due: none

Add authentication and authorization flow diagrams (#16)
  docs/assets/images/diagrams/jwt-token-lifecycle.svg
  docs/assets/images/diagrams/mfa-flow.svg
  docs/assets/images/diagrams/microservices-auth.svg
  docs/assets/images/diagrams/oauth-flow.svg
  docs/assets/images/diagrams/session-management.svg
Due: none

Path conditions:
  validate-config: any of: (_config\.yml|book-config\.json)$
  check-jekyll-conflicts: any of: \.(md|markdown)$, but not: ^docs/
  detect-placeholders: any of: (_config\.yml|book-config\.json)$
  validate-navigation: any of: navigation\.yml$
