Repository itdojp/practical-auth-book: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-config, check-jekyll-conflicts, detect-placeholders, validate-navigation

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install: pip install pre-commit && pre-commit install

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^docs/|\.md$
      - id: end-of-file-fixer
        exclude: ^docs/
      - id: check-yaml
        exclude: ^docs/_data/
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key
      - id: mixed-line-ending
        args: [--fix=lf]

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.37.0
    hooks:
      - id: markdownlint
        args: [--fix]
        exclude: ^docs/|^templates/

  # Custom validation hooks
  - repo: local
    hooks:
      # Configuration validation
      - id: validate-config
        name: Validate configuration files
        entry: scripts/validate-config.sh
        language: script
        files: '(_config\.yml|book-config\.json)$'
        pass_filenames: false

      # Jekyll conflict check
      - id: check-jekyll-conflicts
        name: Check Jekyll Liquid conflicts
        entry: node scripts/jekyll-conflict-detector.js
        language: system
        files: '\.(md|markdown)$'
        args: [--check]
        exclude: ^docs/

      # Placeholder detection
      - id: detect-placeholders
        name: Detect placeholder values
        entry: scripts/detect-placeholders.sh
        language: script
        files: '(_config\.yml|book-config\.json)$'
        pass_filenames: false

      # Navigation validation
      - id: validate-navigation
        name: Validate navigation structure
        entry: scripts/validate-navigation.sh
        language: script
        files: 'navigation\.yml$'
        pass_filenames: false

Use HTTPS for SAML reference links
  docs/appendices/appendix-d-references.md
  docs/appendices/appendix-d-references/index.md
  src/appendices/appendix-d-references.md
Due: check-jekyll-conflicts

Clarify Auth.js naming in appendix
  docs/appendices/appendix-a-libraries.md
  docs/appendices/appendix-a-libraries/index.md
  src/appendices/appendix-a-libraries.md
Due: check-jekyll-conflicts

Use HTTPS for SAML reference links (#138)
  docs/appendices/appendix-d-references.md
  docs/appendices/appendix-d-references/index.md
  src/appendices/appendix-d-references.md
Due: check-jekyll-conflicts

Clarify Auth.js naming in appendix (#139)
  docs/appendices/appendix-a-libraries.md
  docs/appendices/appendix-a-libraries/index.md
  src/appendices/appendix-a-libraries.md
Due: check-jekyll-conflicts

Align appendix naming in introduction
  docs/introduction/index.md
Due: none

Clarify appendix labels on top page
  docs/index.md
Due: none

Improve exercise and appendix guidance on top page (#136)
  docs/index.md
Due: none

Improve appendix guidance in introduction (#137)
  docs/introduction/index.md
Due: none

Clarify README feedback links
  README.md
Due: check-jekyll-conflicts

Clarify README feedback links (#140)
  README.md
Due: check-jekyll-conflicts

Update auth review gates and current security references
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
  docs/appendices/appendix-d-references.md
  docs/appendices/appendix-d-references/index.md
  docs/chapters/chapter-05-token-auth.md
  docs/chapters/chapter-05-token-auth/index.md
  docs/chapters/chapter-06-oauth2.md
  docs/chapters/chapter-06-oauth2/index.md
  docs/chapters/chapter-07-oidc-saml.md
  docs/chapters/chapter-07-oidc-saml/index.md
  docs/index.md
  package.json
  src/appendices/appendix-d-references.md
  src/chapters/chapter-05-token-auth.md
  src/chapters/chapter-06-oauth2.md
  src/chapters/chapter-07-oidc-saml.md
Due: check-jekyll-conflicts

Fix deploy preview comment expression
  .github/workflows/deploy-preview.yml
Due: none

Clarify SameSite None cookie exception
  docs/chapters/chapter-05-token-auth.md
  docs/chapters/chapter-05-token-auth/index.md
  src/chapters/chapter-05-token-auth.md
Due: check-jekyll-conflicts

Allow preview workflow to update gh-pages
  .github/workflows/deploy-preview.yml
Due: none

Avoid unnecessary install in preview workflow
  .github/workflows/deploy-preview.yml
Due: none

認証認可の実務レビューゲートと現行参照を更新する (#142)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/deploy-preview.yml
  .gitignore
  docs/appendices/appendix-d-references.md
  docs/appendices/appendix-d-references/index.md
  docs/chapters/chapter-05-token-auth.md
  docs/chapters/chapter-05-token-auth/index.md
  docs/chapters/chapter-06-oauth2.md
  docs/chapters/chapter-06-oauth2/index.md
  docs/chapters/chapter-07-oidc-saml.md
  docs/chapters/chapter-07-oidc-saml/index.md
  docs/index.md
  package.json
  src/appendices/appendix-d-references.md
  src/chapters/chapter-05-token-auth.md
  src/chapters/chapter-06-oauth2.md
  src/chapters/chapter-07-oidc-saml.md
Due: check-jekyll-conflicts

docs: restore auth runnable minimum guidance
  README.md
  docs/_data/navigation.yml
  docs/appendices/appendix-0-environment-setup.md
  docs/appendices/appendix-0-environment-setup/index.md
  docs/chapters/chapter-04-session.md
  docs/chapters/chapter-04-session/index.md
  docs/chapters/chapter-05-token-auth.md
  docs/chapters/chapter-05-token-auth/index.md
  docs/chapters/chapter-06-oauth2.md
  docs/chapters/chapter-06-oauth2/index.md
  docs/chapters/chapter-07-oidc-saml.md
  docs/chapters/chapter-07-oidc-saml/index.md
  docs/chapters/chapter-08-auth-system-design.md
  docs/chapters/chapter-08-auth-system-design/index.md
  docs/chapters/chapter-09-microservices-auth.md
  docs/chapters/chapter-09-microservices-auth/index.md
  docs/chapters/chapter-10-implementation-patterns.md
  docs/chapters/chapter-10-implementation-patterns/index.md
  docs/index.md
  docs/introduction/index.md
  src/appendices/appendix-0-environment-setup.md
  src/chapters/chapter-04-session.md
  src/chapters/chapter-05-token-auth.md
  src/chapters/chapter-06-oauth2.md
  src/chapters/chapter-07-oidc-saml.md
  src/chapters/chapter-08-auth-system-design.md
  src/chapters/chapter-09-microservices-auth.md
  src/chapters/chapter-10-implementation-patterns.md
  src/introduction/index.md
Due: check-jekyll-conflicts, validate-navigation

fix: address auth runnable minimum review comments
  docs/appendices/appendix-0-environment-setup.md
  docs/appendices/appendix-0-environment-setup/index.md
  src/introduction/index.md
Due: check-jekyll-conflicts

Deploy preview for PR 143 🛫
  pr-preview/pr-143/introduction/index.md
Due: check-jekyll-conflicts

docs: restore auth runnable minimum guidance (#143)
  README.md
  docs/_data/navigation.yml
  docs/appendices/appendix-0-environment-setup.md
  docs/appendices/appendix-0-environment-setup/index.md
  docs/chapters/chapter-04-session.md
  docs/chapters/chapter-04-session/index.md
  docs/chapters/chapter-05-token-auth.md
  docs/chapters/chapter-05-token-auth/index.md
  docs/chapters/chapter-06-oauth2.md
  docs/chapters/chapter-06-oauth2/index.md
  docs/chapters/chapter-07-oidc-saml.md
  docs/chapters/chapter-07-oidc-saml/index.md
  docs/chapters/chapter-08-auth-system-design.md
  docs/chapters/chapter-08-auth-system-design/index.md
  docs/chapters/chapter-09-microservices-auth.md
  docs/chapters/chapter-09-microservices-auth/index.md
  docs/chapters/chapter-10-implementation-patterns.md
  docs/chapters/chapter-10-implementation-patterns/index.md
  docs/index.md
  docs/introduction/index.md
  src/appendices/appendix-0-environment-setup.md
  src/chapters/chapter-04-session.md
  src/chapters/chapter-05-token-auth.md
  src/chapters/chapter-06-oauth2.md
  src/chapters/chapter-07-oidc-saml.md
  src/chapters/chapter-08-auth-system-design.md
  src/chapters/chapter-09-microservices-auth.md
  src/chapters/chapter-10-implementation-patterns.md
  src/introduction/index.md
Due: check-jekyll-conflicts, validate-navigation

Add practical auth metadata consistency gate
  .github/workflows/book-qa.yml
  .github/workflows/build.yml
  README.md
  _config.yml
  book-config.json
  docs/index.md
  package-lock.json
  package-simple.json
  package.json
  scripts/check-metadata-consistency.js
Due: validate-config, check-jekyll-conflicts, detect-placeholders

Guard practical auth source-only edits
  .github/workflows/build.yml
Due: none

Address practical auth review feedback
  package-simple.json
  package.json
  scripts/check-metadata-consistency.js
Due: none

Add practical auth metadata consistency gate (#144)
  .github/workflows/book-qa.yml
  .github/workflows/build.yml
  README.md
  _config.yml
  book-config.json
  docs/index.md
  package-lock.json
  package-simple.json
  package.json
  scripts/check-metadata-consistency.js
Due: validate-config, check-jekyll-conflicts, detect-placeholders

chore: add security QA for auth book
  .github/workflows/book-qa.yml
  .github/workflows/build.yml
  .github/workflows/deploy-preview.yml
  .gitignore
  .markdownlint.json
  README.md
  docs/appendices/appendix-e-08.md
  docs/appendices/appendix-e-08/index.md
  package-lock.json
  package-simple.json
  package.json
  scripts/check-metadata-consistency.js
  src/appendices/appendix-e-08.md
Due: check-jekyll-conflicts

chore: add auth book security QA gate (#145)
  .github/workflows/book-qa.yml
  .github/workflows/build.yml
  .github/workflows/deploy-preview.yml
  .gitignore
  .markdownlint.json
  README.md
  docs/appendices/appendix-e-08.md
  docs/appendices/appendix-e-08/index.md
  package-lock.json
  package-simple.json
  package.json
  scripts/check-metadata-consistency.js
  src/appendices/appendix-e-08.md
Due: check-jekyll-conflicts

Fix mobile sidebar closed state
  docs/assets/css/mobile-responsive.css
  practical-auth-book/docs/assets/css/mobile-responsive.css
Due: none

Address sidebar transition review feedback
  docs/assets/css/mobile-responsive.css
  practical-auth-book/docs/assets/css/mobile-responsive.css
Due: none

Improve notation and audit gate
  README.md
  docs/index.md
  docs/introduction/index.md
  package-lock.json
  package.json
  src/introduction/index.md
Due: check-jekyll-conflicts

Address review feedback on audit overrides
  README.md
  package.json
Due: check-jekyll-conflicts

[codex] 認証認可本の表記と audit gate を整備
  README.md
  docs/index.md
  docs/introduction/index.md
  package-lock.json
  package.json
  src/introduction/index.md
Due: check-jekyll-conflicts

fix: optional依存のaudit脆弱性を解消する
  package-lock.json
  package-simple.json
  package.json
  scripts/check-metadata-consistency.js
Due: none

test: Puppeteer指定のlockfile同期を検証する
  scripts/check-metadata-consistency.js
Due: none
