Repository itdojp/practical-auth-book: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-config, check-jekyll-conflicts, detect-placeholders, validate-navigation

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install: pip install pre-commit && pre-commit install

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^docs/|\.md$
      - id: end-of-file-fixer
        exclude: ^docs/
      - id: check-yaml
        exclude: ^docs/_data/
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key
      - id: mixed-line-ending
        args: [--fix=lf]

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.37.0
    hooks:
      - id: markdownlint
        args: [--fix]
        exclude: ^docs/|^templates/

  # Custom validation hooks
  - repo: local
    hooks:
      # Configuration validation
      - id: validate-config
        name: Validate configuration files
        entry: scripts/validate-config.sh
        language: script
        files: '(_config\.yml|book-config\.json)$'
        pass_filenames: false

      # Jekyll conflict check
      - id: check-jekyll-conflicts
        name: Check Jekyll Liquid conflicts
        entry: node scripts/jekyll-conflict-detector.js
        language: system
        files: '\.(md|markdown)$'
        args: [--check]
        exclude: ^docs/

      # Placeholder detection
      - id: detect-placeholders
        name: Detect placeholder values
        entry: scripts/detect-placeholders.sh
        language: script
        files: '(_config\.yml|book-config\.json)$'
        pass_filenames: false

      # Navigation validation
      - id: validate-navigation
        name: Validate navigation structure
        entry: scripts/validate-navigation.sh
        language: script
        files: 'navigation\.yml$'
        pass_filenames: false

fix: GitHub Pagesビルドエラーを修正
  Docs/.nojekyll
Due: none

fix: validate-buildワークフローのタイムアウト問題を修正
  .github/workflows/validate-build.yml
Due: none

fix: validate-buildワークフローを一時的に無効化
  .github/workflows/validate-build.yml
Due: none

fix: GitHub Pages 404エラーを修正
  Docs/.nojekyll
  Docs/_config.yml
Due: validate-config, detect-placeholders

fix: Jekyll SCSS エラーを修正
  Docs/assets/css/style.scss
Due: none

fix: 静的HTMLでGitHub Pages 404エラーを完全解決
  Docs/.nojekyll
  Docs/assets/css/style.scss
  Docs/index.html
Due: none

Add .nojekyll to disable Jekyll processing
  .nojekyll
Due: none

Fix navigation links to remove .html extension
  index.html
Due: none

Fix navigation and links, update author email
  _config.yml
  _data/navigation.yml
  index.html
Due: validate-config, detect-placeholders, validate-navigation

Fix all links to include baseurl
  index.html
Due: none

Remove .nojekyll to enable Jekyll processing
  .nojekyll
Due: none

Remove index.md to avoid conflict with index.html
  index.md
Due: check-jekyll-conflicts

Replace index.html with index.md for Jekyll processing
  index.html
  index.md
Due: check-jekyll-conflicts

Update author email to knowledge@itdo.jp
  _config.yml
  index.html
Due: validate-config, detect-placeholders

Add static HTML homepage with sidebar navigation
  .nojekyll
  index.html
  index.md
Due: check-jekyll-conflicts

Generate HTML files for all chapters and appendices
  appendices/appendix-a-libraries.html
  appendices/appendix-b-troubleshooting.html
  appendices/appendix-c-glossary.html
  appendices/appendix-d-references.html
  appendices/appendix-e-01.html
  appendices/appendix-e-02.html
  appendices/appendix-e-03.html
  appendices/appendix-e-04.html
  appendices/appendix-e-05.html
  appendices/appendix-e-06.html
  appendices/appendix-e-07.html
  appendices/appendix-e-08.html
  appendices/appendix-e-09.html
  appendices/appendix-e-10.html
  appendices/appendix-e-11.html
  appendices/appendix-e-12.html
  appendices/appendix-e-13.html
  chapters/chapter-01-overview.html
  chapters/chapter-02-authentication.html
  chapters/chapter-03-authorization.html
  chapters/chapter-04-session.html
  chapters/chapter-05-token-auth.html
  chapters/chapter-06-oauth2.html
  chapters/chapter-07-oidc-saml.html
  chapters/chapter-08-auth-system-design.html
  chapters/chapter-09-microservices-auth.html
  chapters/chapter-10-implementation-patterns.html
  chapters/chapter-11-security-threats.html
  chapters/chapter-12-performance.html
  chapters/chapter-13-future.html
  convert-to-html.js
  introduction.html
Due: none

Add mobile navigation for responsive design
  index.html
Due: none

演習問題解答への navigation link を追加し、baseurl を修正
  book-config.json
  index.html
Due: validate-config, detect-placeholders

モバイル表示の最適化を実装
  appendices/appendix-a-libraries.html
  appendices/appendix-b-troubleshooting.html
  appendices/appendix-c-glossary.html
  appendices/appendix-d-references.html
  appendices/appendix-e-01.html
  appendices/appendix-e-02.html
  appendices/appendix-e-03.html
  appendices/appendix-e-04.html
  appendices/appendix-e-05.html
  appendices/appendix-e-06.html
  appendices/appendix-e-07.html
  appendices/appendix-e-08.html
  appendices/appendix-e-09.html
  appendices/appendix-e-10.html
  appendices/appendix-e-11.html
  appendices/appendix-e-12.html
  appendices/appendix-e-13.html
  chapters/chapter-01-overview.html
  chapters/chapter-02-authentication.html
  chapters/chapter-03-authorization.html
  chapters/chapter-04-session.html
  chapters/chapter-05-token-auth.html
  chapters/chapter-06-oauth2.html
  chapters/chapter-07-oidc-saml.html
  chapters/chapter-08-auth-system-design.html
  chapters/chapter-09-microservices-auth.html
  chapters/chapter-10-implementation-patterns.html
  chapters/chapter-11-security-threats.html
  chapters/chapter-12-performance.html
  chapters/chapter-13-future.html
  convert-to-html.js
  introduction.html
Due: none

モバイル表示時の左右のぶれ（viewport 横スクロール）を修正
  appendices/appendix-a-libraries.html
  appendices/appendix-b-troubleshooting.html
  appendices/appendix-c-glossary.html
  appendices/appendix-d-references.html
  appendices/appendix-e-01.html
  appendices/appendix-e-02.html
  appendices/appendix-e-03.html
  appendices/appendix-e-04.html
  appendices/appendix-e-05.html
  appendices/appendix-e-06.html
  appendices/appendix-e-07.html
  appendices/appendix-e-08.html
  appendices/appendix-e-09.html
  appendices/appendix-e-10.html
  appendices/appendix-e-11.html
  appendices/appendix-e-12.html
  appendices/appendix-e-13.html
  chapters/chapter-01-overview.html
  chapters/chapter-02-authentication.html
  chapters/chapter-03-authorization.html
  chapters/chapter-04-session.html
  chapters/chapter-05-token-auth.html
  chapters/chapter-06-oauth2.html
  chapters/chapter-07-oidc-saml.html
  chapters/chapter-08-auth-system-design.html
  chapters/chapter-09-microservices-auth.html
  chapters/chapter-10-implementation-patterns.html
  chapters/chapter-11-security-threats.html
  chapters/chapter-12-performance.html
  chapters/chapter-13-future.html
  convert-to-html.js
  index.html
  introduction.html
Due: none

Add previous/next page navigation to all chapters and appendices
  appendices/appendix-a-libraries.html
  appendices/appendix-b-troubleshooting.html
  appendices/appendix-c-glossary.html
  appendices/appendix-d-references.html
  appendices/appendix-e-01.html
  appendices/appendix-e-02.html
  appendices/appendix-e-03.html
  appendices/appendix-e-04.html
  appendices/appendix-e-05.html
  appendices/appendix-e-06.html
  appendices/appendix-e-07.html
  appendices/appendix-e-08.html
  appendices/appendix-e-09.html
  appendices/appendix-e-10.html
  appendices/appendix-e-11.html
  appendices/appendix-e-12.html
  appendices/appendix-e-13.html
  chapters/chapter-01-overview.html
  chapters/chapter-02-authentication.html
  chapters/chapter-03-authorization.html
  chapters/chapter-04-session.html
  chapters/chapter-05-token-auth.html
  chapters/chapter-06-oauth2.html
  chapters/chapter-07-oidc-saml.html
  chapters/chapter-08-auth-system-design.html
  chapters/chapter-09-microservices-auth.html
  chapters/chapter-10-implementation-patterns.html
  chapters/chapter-11-security-threats.html
  chapters/chapter-12-performance.html
  chapters/chapter-13-future.html
  convert-to-html.js
  introduction.html
Due: none

feat: index.htmlに「はじめに」へのナビゲーションボタンを追加
  index.html
Due: none

fix: ナビゲーションボタンのテキストを「目次に戻る」から「最初に戻る」に変更
  appendices/appendix-a-libraries.html
  appendices/appendix-b-troubleshooting.html
  appendices/appendix-c-glossary.html
  appendices/appendix-d-references.html
  appendices/appendix-e-01.html
  appendices/appendix-e-02.html
  appendices/appendix-e-03.html
  appendices/appendix-e-04.html
  appendices/appendix-e-05.html
  appendices/appendix-e-06.html
  appendices/appendix-e-07.html
  appendices/appendix-e-08.html
  appendices/appendix-e-09.html
  appendices/appendix-e-10.html
  appendices/appendix-e-11.html
  appendices/appendix-e-12.html
  appendices/appendix-e-13.html
  chapters/chapter-01-overview.html
  chapters/chapter-02-authentication.html
  chapters/chapter-03-authorization.html
  chapters/chapter-04-session.html
  chapters/chapter-05-token-auth.html
  chapters/chapter-06-oauth2.html
  chapters/chapter-07-oidc-saml.html
  chapters/chapter-08-auth-system-design.html
  chapters/chapter-09-microservices-auth.html
  chapters/chapter-10-implementation-patterns.html
  chapters/chapter-11-security-threats.html
  chapters/chapter-12-performance.html
  chapters/chapter-13-future.html
  convert-to-html.js
  introduction.html
Due: none

fix: book-config.jsonの軽微な修正
  book-config.json
Due: validate-config, detect-placeholders

Unify practical-auth-book with proven test-book configuration
  _data/navigation.yml
  _layouts/book.html
  appendices/appendix-a-libraries/index.md
  appendices/appendix-b-troubleshooting/index.md
  appendices/appendix-c-glossary/index.md
  appendices/appendix-d-references/index.md
  appendices/appendix-e-01/index.md
  appendices/appendix-e-02/index.md
  appendices/appendix-e-03/index.md
  appendices/appendix-e-04/index.md
  appendices/appendix-e-05/index.md
  appendices/appendix-e-06/index.md
  appendices/appendix-e-07/index.md
  appendices/appendix-e-08/index.md
  appendices/appendix-e-09/index.md
  appendices/appendix-e-10/index.md
  appendices/appendix-e-11/index.md
  appendices/appendix-e-12/index.md
  appendices/appendix-e-13/index.md
  assets/css/main.css
  assets/js/sidebar.js
  assets/js/theme.js
  chapters/chapter-01-overview/index.md
  chapters/chapter-02-authentication/index.md
  chapters/chapter-03-authorization/index.md
  chapters/chapter-04-session/index.md
  chapters/chapter-05-token-auth/index.md
  chapters/chapter-06-oauth2/index.md
  chapters/chapter-07-oidc-saml/index.md
  chapters/chapter-08-auth-system-design/index.md
  chapters/chapter-09-microservices-auth/index.md
  chapters/chapter-10-implementation-patterns/index.md
  chapters/chapter-11-security-threats/index.md
  chapters/chapter-12-performance/index.md
  chapters/chapter-13-future/index.md
Due: check-jekyll-conflicts, validate-navigation

Fix Jekyll Liquid syntax errors in template placeholders
  docs/appendices/appendix-e-08.md
  docs/chapters/chapter-11-security-threats.md
Due: none

Fix Jekyll Liquid syntax by escaping braces without raw tags
  appendices/appendix-e-08.md
  chapters/chapter-11-security-threats.md
Due: check-jekyll-conflicts

Fix Jekyll Liquid syntax using HTML entities for braces
  appendices/appendix-e-08.md
  chapters/chapter-11-security-threats.md
Due: check-jekyll-conflicts

Fix all remaining Jekyll Liquid syntax errors with HTML entities
  chapters/chapter-11-security-threats/index.md
  chapters/chapter-12-performance.md
  chapters/chapter-12-performance/index.md
Due: check-jekyll-conflicts

Fix remaining Jekyll Liquid syntax errors in CLAUDE_TROUBLESHOOTING.md and appendix index
  CLAUDE_TROUBLESHOOTING.md
  appendices/appendix-e-08/index.md
Due: check-jekyll-conflicts

Fix remaining Jekyll Liquid syntax errors in docs folder
  docs/chapters/chapter-11-security-threats/index.md
  docs/chapters/chapter-12-performance/index.md
Due: none

Fix index.md with correct book content
  docs/index.md
Due: none

Migrate to book-formatter framework
  CLAUDE.md
  book-config.json
Due: validate-config, check-jekyll-conflicts, detect-placeholders

feat: 書籍レビューに基づく包括的な改善
  src/chapters/chapter-05-token-auth.md
  src/chapters/chapter-06-oauth2.md
  src/chapters/chapter-08-auth-system-design.md
  src/chapters/chapter-09-microservices-auth.md
  src/chapters/chapter-10-implementation-patterns.md
Due: check-jekyll-conflicts
