Repository itdojp/practical-auth-book: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-config, check-jekyll-conflicts, detect-placeholders, validate-navigation

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install: pip install pre-commit && pre-commit install

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^docs/|\.md$
      - id: end-of-file-fixer
        exclude: ^docs/
      - id: check-yaml
        exclude: ^docs/_data/
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key
      - id: mixed-line-ending
        args: [--fix=lf]

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.37.0
    hooks:
      - id: markdownlint
        args: [--fix]
        exclude: ^docs/|^templates/

  # Custom validation hooks
  - repo: local
    hooks:
      # Configuration validation
      - id: validate-config
        name: Validate configuration files
        entry: scripts/validate-config.sh
        language: script
        files: '(_config\.yml|book-config\.json)$'
        pass_filenames: false

      # Jekyll conflict check
      - id: check-jekyll-conflicts
        name: Check Jekyll Liquid conflicts
        entry: node scripts/jekyll-conflict-detector.js
        language: system
        files: '\.(md|markdown)$'
        args: [--check]
        exclude: ^docs/

      # Placeholder detection
      - id: detect-placeholders
        name: Detect placeholder values
        entry: scripts/detect-placeholders.sh
        language: script
        files: '(_config\.yml|book-config\.json)$'
        pass_filenames: false

      # Navigation validation
      - id: validate-navigation
        name: Validate navigation structure
        entry: scripts/validate-navigation.sh
        language: script
        files: 'navigation\.yml$'
        pass_filenames: false

ci: update setup-node to v6 in workflows
  .github/workflows/book-qa.yml
  .github/workflows/build.yml
  .github/workflows/deploy-preview.yml
  .github/workflows/scheduled-maintenance.yml
  .github/workflows/validate-build.yml
Due: none

docs: docker/build-push-action の例を v6 に更新
  src/chapters/chapter-12-performance.md
Due: check-jekyll-conflicts

ci: update setup-node to v6 in workflows (#118)
  .github/workflows/book-qa.yml
  .github/workflows/build.yml
  .github/workflows/deploy-preview.yml
  .github/workflows/scheduled-maintenance.yml
  .github/workflows/validate-build.yml
Due: none

docs: docker/build-push-action の例を v6 に更新 (#119)
  src/chapters/chapter-12-performance.md
Due: check-jekyll-conflicts

docs: DESIGN-PREVIEW の不達リンクを更新
  DESIGN-PREVIEW.md
Due: check-jekyll-conflicts

docs: ライブプレビューURLを書籍ページへ統一
  DESIGN-PREVIEW.md
Due: check-jekyll-conflicts

docs: DESIGN-PREVIEW のソース参照を相対リンク化
  DESIGN-PREVIEW.md
Due: check-jekyll-conflicts

docs: ローカル保存導線を raw パラメータ付きへ修正
  DESIGN-PREVIEW.md
Due: check-jekyll-conflicts

docs: DESIGN-PREVIEW の不達リンクを更新 (#120)
  DESIGN-PREVIEW.md
Due: check-jekyll-conflicts

docs: add fence languages for markdown-structure warnings
  COMPARISON.md
  DESIGN-PREVIEW.md
  EPUB-PDF-GUIDE.md
  GITHUB_ACTIONS_GUIDE.md
  HANDOVER-SUMMARY.md
  HANDOVER.md
  LINK_CHECKER.md
  QUICK-START.md
  REPOSITORY-ACCESS-GUIDE.md
  TECHNICAL-CONTEXT.md
  docs/appendices/appendix-e-01.md
  docs/appendices/appendix-e-01/index.md
  docs/appendices/appendix-e-08.md
  docs/appendices/appendix-e-08/index.md
  docs/assets/images/README-IMAGES.md
  docs/chapters/chapter-01-overview.md
  docs/chapters/chapter-01-overview/index.md
  docs/chapters/chapter-02-authentication.md
  docs/chapters/chapter-02-authentication/index.md
  docs/chapters/chapter-03-authorization.md
  docs/chapters/chapter-03-authorization/index.md
  docs/chapters/chapter-12-performance.md
  docs/chapters/chapter-12-performance/index.md
  it_book_proofreading_prompt.md
  src/appendices/appendix-e-01.md
  src/appendices/appendix-e-08.md
  src/chapters/chapter-01-overview.md
  src/chapters/chapter-02-authentication.md
  src/chapters/chapter-03-authorization.md
  src/chapters/chapter-12-performance.md
Due: check-jekyll-conflicts

docs: add fence languages for markdown-structure warnings (#121)
  COMPARISON.md
  DESIGN-PREVIEW.md
  EPUB-PDF-GUIDE.md
  GITHUB_ACTIONS_GUIDE.md
  HANDOVER-SUMMARY.md
  HANDOVER.md
  LINK_CHECKER.md
  QUICK-START.md
  REPOSITORY-ACCESS-GUIDE.md
  TECHNICAL-CONTEXT.md
  docs/appendices/appendix-e-01.md
  docs/appendices/appendix-e-01/index.md
  docs/appendices/appendix-e-08.md
  docs/appendices/appendix-e-08/index.md
  docs/assets/images/README-IMAGES.md
  docs/chapters/chapter-01-overview.md
  docs/chapters/chapter-01-overview/index.md
  docs/chapters/chapter-02-authentication.md
  docs/chapters/chapter-02-authentication/index.md
  docs/chapters/chapter-03-authorization.md
  docs/chapters/chapter-03-authorization/index.md
  docs/chapters/chapter-12-performance.md
  docs/chapters/chapter-12-performance/index.md
  it_book_proofreading_prompt.md
  src/appendices/appendix-e-01.md
  src/appendices/appendix-e-08.md
  src/chapters/chapter-01-overview.md
  src/chapters/chapter-02-authentication.md
  src/chapters/chapter-03-authorization.md
  src/chapters/chapter-12-performance.md
Due: check-jekyll-conflicts

chore(ci): bump book-formatter pin to da2a49e
  .github/workflows/book-qa.yml
Due: none

fix: close code fences to avoid nesting
  src/chapters/chapter-05-token-auth.md
  src/chapters/chapter-11-security-threats.md
Due: check-jekyll-conflicts

docs: fix broken reference links
  docs/appendices/appendix-d-references.md
  docs/appendices/appendix-d-references/index.md
  src/appendices/appendix-d-references.md
Due: check-jekyll-conflicts

chore(svg): normalize font stacks
  docs/assets/images/diagrams/chapter01/auth-authz-sequence.svg
  docs/assets/images/diagrams/chapter01/auth-fundamental-problems.svg
  docs/assets/images/diagrams/chapter01/authentication-evolution-timeline.svg
  docs/assets/images/diagrams/chapter01/authorization-model-evolution.svg
  docs/assets/images/diagrams/chapter01/technology-selection-framework.svg
  docs/assets/images/diagrams/introduction/book-structure-mindmap.svg
  docs/assets/images/diagrams/introduction/learning-roadmap.svg
  docs/assets/images/diagrams/jwt-token-lifecycle-management.svg
  docs/assets/images/diagrams/jwt-token-lifecycle.svg
  docs/assets/images/diagrams/mfa-flow.svg
  docs/assets/images/diagrams/microservices-auth-architecture.svg
  docs/assets/images/diagrams/microservices-auth.svg
  docs/assets/images/diagrams/multi-factor-authentication-flow.svg
  docs/assets/images/diagrams/oauth-flow.svg
  docs/assets/images/diagrams/oauth2-authorization-code-flow.svg
  docs/assets/images/diagrams/security-threats-attack-vectors.svg
  docs/assets/images/diagrams/session-management.svg
Due: none

ux: auto-scroll active TOC in drawer
  docs/_layouts/book.html
Due: none

ux: harden drawer TOC auto-scroll
  docs/_layouts/book.html
Due: none

Drawer（TOC）: 現在位置を自動スクロール (#126)
  docs/_layouts/book.html
Due: none

docs: ナビゲーションの導入章表記を統一
  docs/_data/navigation.yml
Due: validate-navigation

docs: avoid git add -A instructions
  QUICK-START.md
  REPOSITORY-ACCESS-GUIDE.md
  TEMPLATE_MIGRATION.md
  easy-setup.js
  scripts/navigation-cleaner.js
Due: check-jekyll-conflicts

docs: include generated files in staging
  QUICK-START.md
  REPOSITORY-ACCESS-GUIDE.md
  TEMPLATE_MIGRATION.md
  easy-setup.js
Due: check-jekyll-conflicts

docs: ナビゲーションの導入章表記を統一 (#127)
  docs/_data/navigation.yml
Due: validate-navigation

docs: avoid git add -A instructions (#128)
  QUICK-START.md
  REPOSITORY-ACCESS-GUIDE.md
  TEMPLATE_MIGRATION.md
  easy-setup.js
  scripts/navigation-cleaner.js
Due: check-jekyll-conflicts

docs: 絵文字を除去しステータス表記を正規化
  docs/_includes/navigation.html
  docs/assets/images/README-IMAGES.md
  docs/chapters/chapter-06-oauth2.md
  docs/chapters/chapter-06-oauth2/index.md
  docs/chapters/chapter-07-oidc-saml.md
  docs/chapters/chapter-07-oidc-saml/index.md
  docs/index.md
  src/chapters/chapter-05-token-auth.md
  src/chapters/chapter-06-oauth2.md
  src/chapters/chapter-07-oidc-saml.md
Due: check-jekyll-conflicts

docs: 絵文字を除去しステータス表記を正規化 (#129)
  docs/_includes/navigation.html
  docs/assets/images/README-IMAGES.md
  docs/chapters/chapter-06-oauth2.md
  docs/chapters/chapter-06-oauth2/index.md
  docs/chapters/chapter-07-oidc-saml.md
  docs/chapters/chapter-07-oidc-saml/index.md
  docs/index.md
  src/chapters/chapter-05-token-auth.md
  src/chapters/chapter-06-oauth2.md
  src/chapters/chapter-07-oidc-saml.md
Due: check-jekyll-conflicts

chore: remove nav emoji from templates
  templates/navigation/navigation.html
Due: none

chore: remove nav emoji from templates (#130)
  templates/navigation/navigation.html
Due: none

docs: complete revocation helper examples
  docs/chapters/chapter-04-session.md
  docs/chapters/chapter-04-session/index.md
  docs/chapters/chapter-05-token-auth.md
  docs/chapters/chapter-05-token-auth/index.md
  src/chapters/chapter-04-session.md
  src/chapters/chapter-05-token-auth.md
Due: check-jekyll-conflicts

chore: opt GitHub Actions into Node 24 runtime
  .github/workflows/book-qa.yml
  .github/workflows/build.yml
  .github/workflows/deploy-preview.yml
  .github/workflows/docs-forbidden-check.yml
  .github/workflows/nav-link-check.yml
  .github/workflows/scheduled-maintenance.yml
  .github/workflows/validate-build.yml
Due: none

chore: opt GitHub Actions into Node 24 runtime (#132)
  .github/workflows/book-qa.yml
  .github/workflows/build.yml
  .github/workflows/deploy-preview.yml
  .github/workflows/docs-forbidden-check.yml
  .github/workflows/nav-link-check.yml
  .github/workflows/scheduled-maintenance.yml
  .github/workflows/validate-build.yml
Due: none

docs: clarify future chapter exercise prompts
  src/chapters/chapter-13-future.md
Due: check-jekyll-conflicts

docs: clarify future chapter exercise prompts (#134)
  src/chapters/chapter-13-future.md
Due: check-jekyll-conflicts

clarify auth examples
  docs/chapters/chapter-01-overview.md
  docs/chapters/chapter-01-overview/index.md
  docs/chapters/chapter-13-future.md
  docs/chapters/chapter-13-future/index.md
  src/chapters/chapter-13-future.md
Due: check-jekyll-conflicts

Address Copilot review feedback on auth chapter wording
  docs/chapters/chapter-01-overview.md
  docs/chapters/chapter-01-overview/index.md
  docs/chapters/chapter-13-future.md
  docs/chapters/chapter-13-future/index.md
Due: none

[codex] clarify auth examples (#135)
  docs/chapters/chapter-01-overview.md
  docs/chapters/chapter-01-overview/index.md
  docs/chapters/chapter-13-future.md
  docs/chapters/chapter-13-future/index.md
  src/chapters/chapter-13-future.md
Due: check-jekyll-conflicts

Add exercise appendix guidance to top page
  docs/index.md
Due: none

Add appendix guidance to introduction
  docs/introduction/index.md
Due: none
