Repository itdojp/practical-auth-book: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-config, check-jekyll-conflicts, detect-placeholders, validate-navigation

validate-config:
  name: Validate configuration files
  entry: scripts/validate-config.sh
  language: script
  pass_filenames: false

check-jekyll-conflicts:
  name: Check Jekyll Liquid conflicts
  entry: node scripts/jekyll-conflict-detector.js
  language: system
  args:
  - --check

detect-placeholders:
  name: Detect placeholder values
  entry: scripts/detect-placeholders.sh
  language: script
  pass_filenames: false

validate-navigation:
  name: Validate navigation structure
  entry: scripts/validate-navigation.sh
  language: script
  pass_filenames: false

docs: add semantic alt to example <img> in session chapter
  docs/chapters/chapter-04-session.md
  docs/chapters/chapter-04-session/index.md
Due: none

docs: add semantic alt to example <img> in session chapter (#40)
  docs/chapters/chapter-04-session.md
  docs/chapters/chapter-04-session/index.md
Due: none

docs: add bottom navigation include to root index
  docs/index.md
Due: none

docs: add bottom navigation include to root index (#44)
  docs/index.md
Due: none

docs(nav): fix sidebar links to existing chapter slugs; use pretty URLs
  docs/_includes/sidebar-nav.html
Due: none

docs(nav): fix sidebar links to existing chapter slugs; use pretty URLs (#50)
  docs/_includes/sidebar-nav.html
Due: none

feat(js): add safe-main.js and enable safe enhancements in book layout
  docs/_layouts/book.html
  docs/assets/js/safe-main.js
Due: none

feat(js): add safe-main.js and enable safe enhancements in book layout (#52)
  docs/_layouts/book.html
  docs/assets/js/safe-main.js
Due: none

chore: set CODEOWNERS (book-formatter for formatter assets/nav include; book-editors for others)
  .github/CODEOWNERS
Due: none

chore: set CODEOWNERS (book-formatter for formatter assets/nav include; book-editors for others) (#55)
  .github/CODEOWNERS
Due: none

docs: add chapter goals and clarify OAuth code scope
  docs/chapters/chapter-01-overview.md
  docs/chapters/chapter-06-oauth2.md
Due: none

Add top-level meta sections (goals & reading guide)
  docs/index.md
Due: none

docs: add structure review round1 (Stage2)
  docs/project-management/structure-review-round1.md
Due: none

docs: make README a reader entry
  README.md
Due: check-jekyll-conflicts

fix(nav): 付録の重複エントリを削除
  docs/_data/navigation.yml
Due: validate-navigation

fix: align appendix H1 with front matter title
  docs/appendices/appendix-a-libraries/index.md
  docs/appendices/appendix-b-troubleshooting/index.md
  docs/appendices/appendix-c-glossary/index.md
  docs/appendices/appendix-d-references/index.md
  docs/appendices/appendix-e-01/index.md
  docs/appendices/appendix-e-02/index.md
  docs/appendices/appendix-e-03/index.md
  docs/appendices/appendix-e-04/index.md
  docs/appendices/appendix-e-05/index.md
  docs/appendices/appendix-e-06/index.md
  docs/appendices/appendix-e-07/index.md
  docs/appendices/appendix-e-08/index.md
  docs/appendices/appendix-e-09/index.md
  docs/appendices/appendix-e-10/index.md
  docs/appendices/appendix-e-11/index.md
  docs/appendices/appendix-e-12/index.md
  docs/appendices/appendix-e-13/index.md
Due: none

fix: renumber duplicated headings in src chapters 11 and 13
  src/chapters/chapter-11-security-threats.md
  src/chapters/chapter-13-future.md
Due: check-jekyll-conflicts

fix(stage2): 導入/第1-3章にH1を追加
  docs/chapters/chapter-01-overview/index.md
  docs/chapters/chapter-02-authentication/index.md
  docs/chapters/chapter-03-authorization/index.md
  docs/introduction/index.md
Due: none

fix(stage2): 第4-6章にH1を追加
  docs/chapters/chapter-04-session/index.md
  docs/chapters/chapter-05-token-auth/index.md
  docs/chapters/chapter-06-oauth2/index.md
Due: none

fix(stage2): 第7-9章にH1を追加
  docs/chapters/chapter-07-oidc-saml/index.md
  docs/chapters/chapter-08-auth-system-design/index.md
  docs/chapters/chapter-09-microservices-auth/index.md
Due: none

fix(stage2): 第10-13章にH1を追加
  docs/chapters/chapter-10-implementation-patterns/index.md
  docs/chapters/chapter-11-security-threats/index.md
  docs/chapters/chapter-12-performance/index.md
  docs/chapters/chapter-13-future/index.md
Due: none

fix: remove stray EOF from book-config.json
  book-config.json
Due: validate-config, detect-placeholders

fix: GitHubリポジトリリンクの表示を安定化
  docs/_layouts/default.html
  docs/index.md
Due: none

chore: remove stray EOF from CLAUDE.md
  CLAUDE.md
Due: check-jekyll-conflicts

Fix GitHub links when repository is string
  docs/index.md
  templates/layouts/book.html
Due: none

Remove stray EOF marker from book-config
  book-config.json
Due: validate-config, detect-placeholders

Drop docs/index.md change (handled in other PR)
  docs/index.md
Due: none

docs: stage3 style tweaks for introduction
  docs/introduction/index.md
Due: none

docs: stage3 style tweaks for appendix e-01
  docs/appendices/appendix-e-01.md
Due: none

fix: polish introduction punctuation
  docs/introduction/index.md
Due: none

fix: polish appendix E-02 summary punctuation
  docs/appendices/appendix-e-02.md
  docs/appendices/appendix-e-02/index.md
  src/appendices/appendix-e-02.md
Due: check-jekyll-conflicts

fix(nav): 付録の重複エントリを削除 (#62)
  docs/_data/navigation.yml
Due: validate-navigation

fix: align appendix H1 with front matter title (#63)
  docs/appendices/appendix-a-libraries/index.md
  docs/appendices/appendix-b-troubleshooting/index.md
  docs/appendices/appendix-c-glossary/index.md
  docs/appendices/appendix-d-references/index.md
  docs/appendices/appendix-e-01/index.md
  docs/appendices/appendix-e-02/index.md
  docs/appendices/appendix-e-03/index.md
  docs/appendices/appendix-e-04/index.md
  docs/appendices/appendix-e-05/index.md
  docs/appendices/appendix-e-06/index.md
  docs/appendices/appendix-e-07/index.md
  docs/appendices/appendix-e-08/index.md
  docs/appendices/appendix-e-09/index.md
  docs/appendices/appendix-e-10/index.md
  docs/appendices/appendix-e-11/index.md
  docs/appendices/appendix-e-12/index.md
  docs/appendices/appendix-e-13/index.md
Due: none

fix: renumber duplicated headings in src chapters 11 and 13 (#64)
  src/chapters/chapter-11-security-threats.md
  src/chapters/chapter-13-future.md
Due: check-jekyll-conflicts

docs: CONTRIBUTING.md の文末表記を整形
  CONTRIBUTING.md
Due: check-jekyll-conflicts

docs: リポジトリアクセスガイドの文末表記を整形
  REPOSITORY-ACCESS-GUIDE.md
Due: check-jekyll-conflicts

docs: QUICK-START の導入文末尾を整形
  QUICK-START.md
Due: check-jekyll-conflicts

fix(stage2): 第10-13章にH1を追加 (#68)
  docs/chapters/chapter-10-implementation-patterns/index.md
  docs/chapters/chapter-11-security-threats/index.md
  docs/chapters/chapter-12-performance/index.md
  docs/chapters/chapter-13-future/index.md
Due: none

Path conditions:
  validate-config: any of: (_config\.yml|book-config\.json)$
  check-jekyll-conflicts: any of: \.(md|markdown)$, but not: ^docs/
  detect-placeholders: any of: (_config\.yml|book-config\.json)$
  validate-navigation: any of: navigation\.yml$
