Repository itdojp/practical-auth-book: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-config, check-jekyll-conflicts, detect-placeholders, validate-navigation

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install: pip install pre-commit && pre-commit install

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^docs/|\.md$
      - id: end-of-file-fixer
        exclude: ^docs/
      - id: check-yaml
        exclude: ^docs/_data/
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key
      - id: mixed-line-ending
        args: [--fix=lf]

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.37.0
    hooks:
      - id: markdownlint
        args: [--fix]
        exclude: ^docs/|^templates/

  # Custom validation hooks
  - repo: local
    hooks:
      # Configuration validation
      - id: validate-config
        name: Validate configuration files
        entry: scripts/validate-config.sh
        language: script
        files: '(_config\.yml|book-config\.json)$'
        pass_filenames: false

      # Jekyll conflict check
      - id: check-jekyll-conflicts
        name: Check Jekyll Liquid conflicts
        entry: node scripts/jekyll-conflict-detector.js
        language: system
        files: '\.(md|markdown)$'
        args: [--check]
        exclude: ^docs/

      # Placeholder detection
      - id: detect-placeholders
        name: Detect placeholder values
        entry: scripts/detect-placeholders.sh
        language: script
        files: '(_config\.yml|book-config\.json)$'
        pass_filenames: false

      # Navigation validation
      - id: validate-navigation
        name: Validate navigation structure
        entry: scripts/validate-navigation.sh
        language: script
        files: 'navigation\.yml$'
        pass_filenames: false

chore: align license metadata to CC-BY-NC-SA-4.0
  book-config.json
  package-lock.json
  package.json
Due: validate-config, detect-placeholders

chore: align additional license metadata
  package-simple.json
Due: none

chore: minimize diffs and standardize license id
  book-config.json
  package-simple.json
Due: validate-config, detect-placeholders

chore: license metadata -> CC-BY-NC-SA-4.0 (#88)
  book-config.json
  package-lock.json
  package-simple.json
  package.json
Due: validate-config, detect-placeholders

Issue #97: remove MIT fallback from footer
  docs/_layouts/default.html
Due: none

fix: use site.license and support author string
  docs/_config.yml
  docs/_layouts/default.html
Due: validate-config, detect-placeholders

Issue #97: フッターのMIT単独表記を解消 (#89)
  docs/_config.yml
  docs/_layouts/default.html
Due: validate-config, detect-placeholders

[UX] 共通コア適用とprofile付与
  book-config.json
  docs/_includes/page-navigation.html
  docs/_includes/sidebar-nav.html
  docs/_layouts/book.html
  docs/_layouts/default.html
  docs/assets/css/main.css
Due: validate-config, detect-placeholders

Fix UX rollout review feedback
  docs/_includes/sidebar-nav.html
  docs/_layouts/book.html
  docs/_layouts/default.html
  docs/assets/css/main.css
  docs/assets/css/mobile-responsive.css
  docs/assets/js/theme.js
Due: none

[UX] 共通コア適用とprofile付与 (#90)
  book-config.json
  docs/_includes/page-navigation.html
  docs/_includes/sidebar-nav.html
  docs/_layouts/book.html
  docs/_layouts/default.html
  docs/assets/css/main.css
  docs/assets/css/mobile-responsive.css
  docs/assets/js/theme.js
Due: validate-config, detect-placeholders

fix: address review feedback
  docs/_layouts/default.html
Due: none

chore: align top page slots
  docs/index.md
Due: none

[UX] top page slots alignment (#91)
  docs/_layouts/default.html
  docs/index.md
Due: none

docs: fill top page audience, prerequisites and reading time
  docs/index.md
Due: none

chore(docs): unify terminology
  docs/index.md
Due: none

docs: トップページの想定読者・前提知識・所要時間を記載 (#92)
  docs/index.md
Due: none

fix(docs): replace zero-width space with explicit escape
  docs/chapters/chapter-11-security-threats.md
  docs/chapters/chapter-11-security-threats/index.md
  src/chapters/chapter-11-security-threats.md
Due: check-jekyll-conflicts

fix(docs): replace zero-width space with explicit escape (#93)
  docs/chapters/chapter-11-security-threats.md
  docs/chapters/chapter-11-security-threats/index.md
  src/chapters/chapter-11-security-threats.md
Due: check-jekyll-conflicts

fix(docs): repair integration checklist links
  INTEGRATION_CHECKLIST.md
Due: check-jekyll-conflicts

fix(docs): repair integration checklist links (#94)
  INTEGRATION_CHECKLIST.md
Due: check-jekyll-conflicts

Sync shared assets v3.2.1
  book-config.json
  docs/assets/css/main.css
  docs/assets/css/mobile-responsive.css
  docs/assets/js/theme.js
Due: validate-config, detect-placeholders

Sync shared assets v3.2.2
  book-config.json
  docs/assets/css/main.css
  docs/assets/css/mobile-responsive.css
  docs/assets/css/syntax-highlighting.css
  docs/assets/js/theme.js
Due: validate-config, detect-placeholders

Sync shared assets v3.2.2 (theme safety + a11y) (#95)
  book-config.json
  docs/assets/css/main.css
  docs/assets/css/mobile-responsive.css
  docs/assets/css/syntax-highlighting.css
  docs/assets/js/theme.js
Due: validate-config, detect-placeholders

chore: add book QA workflow (unicode + links)
  .github/workflows/book-qa.yml
Due: none

fix: implement book QA workflow
  .github/workflows/book-qa.yml
Due: none

chore: use unicode allowlist when present
  .github/workflows/book-qa.yml
Due: none

chore: add book QA workflow (unicode + links) (#96)
  .github/workflows/book-qa.yml
Due: none

chore: add .book-formatter placeholders
  .book-formatter/prh.yml
  .book-formatter/unicode-allowlist.json
Due: none

chore: add textlint to Book QA
  .github/workflows/book-qa.yml
Due: none

chore: add CODEOWNERS for .book-formatter
  .github/CODEOWNERS
Due: none

chore: add .book-formatter placeholders (#97)
  .book-formatter/prh.yml
  .book-formatter/unicode-allowlist.json
  .github/CODEOWNERS
  .github/workflows/book-qa.yml
Due: none

chore: make textlint blocking in Book QA
  .github/workflows/book-qa.yml
Due: none

chore: make textlint blocking in Book QA (#98)
  .github/workflows/book-qa.yml
Due: none

chore: add Jekyll build + site smoke to Book QA
  .github/workflows/book-qa.yml
Due: none

chore: improve QA workflows
  .github/workflows/book-qa.yml
Due: none

chore: add Jekyll build + site smoke to Book QA (#99)
  .github/workflows/book-qa.yml
Due: none

chore: add PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: check-jekyll-conflicts

fix: satisfy markdownlint for PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: check-jekyll-conflicts

chore: refine PR template examples
  .github/PULL_REQUEST_TEMPLATE.md
Due: check-jekyll-conflicts

chore: add PR template (QA/Pages checklist) (#100)
  .github/PULL_REQUEST_TEMPLATE.md
Due: check-jekyll-conflicts
